<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailNotify.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
     <add name="ApplicationConnectionString" 
          connectionString="Data Source=192.168.199.12;Initial Catalog=dbeps;Persist Security Info=True;User id=epsproceso;Password=54@InfEPS;Application Name=EmailNotify;"
          providerName="System.Data.SqlClient" />
    <add name="ImportConnectionString" 
          connectionString="Data Source=epsint930;Initial Catalog=Replica;Persist Security Info=True;User id=epsint;Password=epsmia@304;Application Name=EmailNotify;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<connectionStrings>
    
  <add name="ApplicationConnectionString"
        connectionString="Data Source=epsint04;Initial Catalog=dbepsnew;Persist Security Info=True;User id=agenciauser;Password=540eps;Application Name=EmailNotify;"
        providerName="System.Data.SqlClient" />

  <add name="ImportConnectionString"
        connectionString="Data Source=epsint04;Initial Catalog=replica;Persist Security Info=True;User id=agenciauser;Password=540eps;Application Name=EmailNotify;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <system.net>
    <mailSettings>
      <smtp from="epsnoti@eps-int.com">
        <network defaultCredentials="true"  host="192.168.199.202" userName="" password=""/>
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="192.168.199.8:8080" bypassonlocal="True"/>
      <bypasslist>
        <add address="[a-z]+\.eps-int\.com"/>
      </bypasslist>
    </defaultProxy>
  </system.net> 
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <EmailNotify.My.MySettings>
            <setting name="ApplicationName" serializeAs="String">
                <value>EPS - Email Notify</value>
            </setting>
            <setting name="EmailEncoding" serializeAs="String">
                <value>iso-8859-1</value>
            </setting>
            <setting name="ApplicationCheckConnectionURL" serializeAs="String">
                <value>http://news.google.com/news?ned=us&amp;output=rss</value>
            </setting>
            <setting name="ApplicationCheckConnection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationNotifyErrorProcessID" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ApplicationNotifyErrorPath" serializeAs="String">
                <value>C:\Interfases\NotificaPorConsole\NotificaPorConsole.exe</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>LogFiles\logs.txt</value>
            </setting>
            <setting name="ApplicationWebAppID" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ApplicationProcesarDias" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ApplicationProcesarRegistros" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ApplicationDocumentoURL" serializeAs="String">
                <value>http://media.eps-int.com/downloads/DocumentosVer.aspx?key={0}</value>
            </setting>
            <setting name="AgenciasAsesorCodigo" serializeAs="String">
                <value>NGARCIA</value>
            </setting>
            <setting name="AgenciasAsesorEmail" serializeAs="String">
                <!--<value>ngarcia@eps-int.com</value>-->
              <value>MHERNANDEZ@EPS-INT.COM</value>
            </setting>
            <setting name="AgenciasAsesorNombre" serializeAs="String">
                <value>NOELIA GARCIA</value>
            </setting>
        </EmailNotify.My.MySettings>
    </applicationSettings>
</configuration>
